/* Customizations to the Pico theme. */

/*
 * Color palette
 */

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #33548a;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #4f82d6;
  }
}

/**************************************************************************
 * Site Header
 **************************************************************************/

header, footer {
  --background-color: var(--primary);
  background-color: var(--background-color);
  border-radius: 4px;
  color: white;
}

header a, footer a {
  color: white;
}

nav .site-title {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

@media screen and (min-width: 450px) {
  header {
    margin-bottom: 1em;
  }
}

nav .site-description {
  font-size: 80%;
}

nav .site-links, footer .site-links {
  font-size: 65%;
}

nav .site-links a, footer .site-links a {
  display: inline;
}

/**************************************************************************
 * Index page
 **************************************************************************/

@media screen and (max-width: 450px) {
  .index-page {
    padding: 0;
  }
}

@media screen and (min-width: 450px) {
  .index-page .year {
    padding-left: var(--spacing);
  }
}

main.index-page {
  --spacing: 0.4em;
}

.index-page .summary {
  font-size: 80%;
  color: #888;
}

.index-page .entry-title {
  font-weight: bold;
}

.index-page .year {
  border-top: 1px solid #DDD;
  background-color: #F8F8F8;
}

.index-page .year h2 {
}

.index-page div.blog-entry {
  border-top: 1px solid #DDD;
  /* border-bottom: 1px solid #DDD; */
  padding: 0;
  height: 64px;
  overflow-y: hidden;
}

.index-page h2, .index-page h3 {
  --typography-spacing-vertical: 0;
}

.index-page h3 {
  font-size: 100%;
}

.index-page .thumbnail {
  float: left;
  width: 64px;
  height: 64px;
}

.index-page .description {
  font-size: 90%;
  float: left;
  width: calc(100% - 64px - 0.4em);
  margin: 0.2em;
  line-height: 1em;
}

.index-page .blog-entry:after {
  content: "";
  display: table;
  clear: both;
}

/**************************************************************************
 * Content / Single pages
 **************************************************************************/

@media screen and (max-width: 450px) {
  h1, h2, h3, h4, h5, h6 {
    --typography-spacing-vertical: 0.8em;
  }
  h1 { --font-size: 125%; }
  h2 { --font-size: 120%; }
  h3 { --font-size: 115%; }
  h4 { --font-size: 110%; }
  h5 { --font-size: 105%; }
  h6 { --font-size: 100%; }
}

main.blog-entry h1 {
}

main.blog-entry .wide {
  overflow-x: auto;
}

main.blog-entry .post-description {
  font-size: 80%;
  font-style: italic;
}
