<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>
{{- if .IsHome -}}
    {{ .Site.Title }}
{{- else if .IsPage -}}
    {{ .Title }} - {{ if .CurrentSection.IsHome }}{{ .Site.Title }}{{ else }}{{ .CurrentSection.Title }}{{ end }}
{{- else -}}
    {{/* This covers sections, taxonomies, etc. */}}
    {{ .Title }} - {{ .Site.Title }}
{{- end -}}
</title>
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">

{{ if .Site.Params.favicon }}
<link rel="icon" type="image/png" href="{{ .Site.Params.favicon | relURL }}">
{{ end }}

<link rel="stylesheet" href="{{ "css/lineicons.css" | relURL }}">

{{ $styles := resources.Get "css/main.css" }}
{{ if $styles }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ end }}
