{{- $p := .page -}}
{{- $hideProjectLink := .hide_project_link -}}
{{ with $p.Content }}
<div class="music-description">
    {{ . }}
</div>
{{ end }}

{{- if not $p.Params.tracks }}
{{ with $p.Params.credits }}
<div class="music-credits">
    <strong>Credits:</strong>
    <ul>
        {{ range . }}
        <li>
            <strong>{{ .name }}</strong> - {{ delimit .roles ", " }}
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
{{- end }}

{{ if and $p.Params.project (not $hideProjectLink) }}
<div class="music-project-link">
    <a href="/music/projects/{{ $p.Params.project }}/">More from this project&nbsp;&#xBB;</a>
</div>
{{ end }}
