{{ with .Site.Params.social }}
<div class="social">
  <ul class="social">
    <!--
    {{ with .linktree }}
    <li>
      <a href="https://linktr.ee/{{ . | safeURL }}"
        title="Linktree: {{ . | safeHTMLAttr }}">
        <i class="lni lni-link"></i></a>
        linktree
    </li>
    {{ end }}
    -->

    {{ with .instagramHandle }}
    <li>
      <a href="https://instagram.com/{{ . | safeURL }}"
         rel="me"
         title="Instagram: {{ . | safeHTMLAttr }}">
        <i class="lni lni-instagram"></i>
      </a>
    </li>
    {{ end }}

    {{ with .soundcloud }}
    <li>
      <a href="https://soundcloud.com/{{ . | safeURL }}"
         rel="me"
         title="Soundcloud: {{ . | safeHTMLAttr }}">
        <i class="lni lni-soundcloud"></i></a></li>
    {{ end }}

    {{ with .tiktokName }}
    <li>
      <a href="https://tiktok.com/@{{ . | safeURL }}"
         rel="me"
         title="TikTok: @{{ . | safeHTMLAttr }}">
        <i class="lni lni-tiktok"></i></a></li>
    {{ end }}

    {{ with .githubName }}
    <li>
      <a href="https://github.com/{{ . | safeURL }}"
         rel="me"
        title="GitHub: {{ . | safeHTMLAttr }}">
        <i class="lni lni-github"></i>
      </a>
    </li>
    {{ end }}

    {{ with .linkedIn }}
    <li>
      <a href="https://linkedin.com/in/{{ . | safeURL }}"
         rel="me"
         title="LinkedIn: {{ . | safeHTMLAttr }}">
        <i class="lni lni-linkedin"></i>
      </a>
    </li>
    {{ end }}

    {{ with .bluesky }}
    <li>
      <a href="{{ . | safeURL }}"
         rel="me"
         title="Bluesky: {{ . | safeHTMLAttr }}"
         class="bluesky-icon">
        <svg viewBox="0 0 600 530" width="1em" height="1em" fill="currentColor" aria-hidden="true">
          <path d="M135.72 44.03C202.216 93.951 273.74 195.17 300 249.49c26.262-54.316 97.782-155.54 164.28-205.46C512.26 8.009 590 -19.862 590 68.825c0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.31 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.9-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.905-.017-2.927-1.193.525-3.707 7.905-13.729 40.255-67.233 197.36-189.63 71.766-64.443-66.128-34.613-132.26 82.697-152.22-67.108 11.421-142.55-7.449-163.25-81.433C10.155 217.613 0 86.535 0 68.825 0-19.862 77.742 8.009 135.72 44.03Z"/>
        </svg>
      </a>
    </li>
    {{ end }}

    {{ with .mastodonLink }}
    <li>
      <a href="{{ . | safeURL }}"
         rel="me"
         title="Mastodon: {{ . | safeHTMLAttr }}">
        ⁂
      </a>
    </li>
    {{ end }}

    {{ with .facebookUrlPath }}
    <li>
      <a href="https://facebook.com/{{ . | safeURL }}"
        title="Facebook: {{ . | safeHTMLAttr }}">
        <i class="lni lni-facebook"></i>
      </a>
    </li>
    {{ end }}
  </ul>
</div><!-- social -->
{{ end }}
