# vim: set ts=2 sts=2 sw=2 expandtab:
# Replace all textile links with markdown links
# %s/"\([^"]\+\)":\([^ ]\+\)/[\1](\2)/g
# Thumbnails:
# for f in *.png; do convert -size 440x880 "$f" -resize 440x880 +profile '*' \
# $(basename $f .png)-thumb.png; done
#
# New magick convert syntax:
# magick <name>-big.jpg -interlace jpeg -quality 35 <name>.jpg
# magick static/images/background-big.jpg -interlace jpeg -quality 35 static/images/background.jpg

defaultContentLanguage = "en"
languageCode = "en"
title = "Maciej Bliziński"
baseurl = "https://blizin.ski"
theme = "hugo-split-theme"
rssLimit = 20
enableGitInfo = true
copyright = "&copy;2003-2024 Maciej Bliziński"
[author]
  [author.maciej]
    name = "Maciej Bliziński"
    email = "maciej.blizinski@gmail.com"

[taxonomies]
  tag = "tags"

[permalinks]
  jogger = "/jogger/:year/:contentbasename/"
  page = "/:contentbasename/"

[params]
  authorName = "Maciej Bliziński"
  authorEmail = "maciej.blizinski@gmail.com"
  siteLogo = "/images/automaciej-logo.jpg"
  description = "Producer-turned-musicmaker. Collaborating across time."
  shareImage = "bio/images/maciej_on_bass_hi.jpg"
  favicon = "images/favicon.png"
  licensed = 1

[params.social]
  linktree = "mblizinski"
  instagramHandle = "mblizinski"
  mastodonLink = "https://mastodon.ie/@automaciej"
  githubName = "automaciej"
  tiktokName = "automaciej"
  facebookUrlPath = "maciej.blizinski"
  twitterHandle = "automaciej"
  soundcloud = "maciej-blizinski"
  linkedIn = "automaciej"

[params.visual]
  [params.visual.image]
    enable = true
    file = "images/background.jpg"

[[params.links]]
  [params.links.list2]
    heading = "EPK"
    [[params.links.list2.link]]
      text = "Bio"
      ref = "bio.md"
    [[params.links.list2.link]]
      text = "Performances"
      ref = "performances.md"
    [[params.links.list2.link]]
      text = "Photos"
      ref = "photos.md"
    [[params.links.list2.link]]
      text = "Press"
      ref = "press.md"

  [params.links.list3]
    heading = "More links"
    [[params.links.list3.link]]
      text = "linktr.ee/mblizinski"
      url = "https://linktr.ee/mblizinski"

[blackfriday]
  # W przypisach mamy rzeczy typu "2010/4" które są formami dat.
  fractions = false
[imaging.exif]
  includeFields = ".*"
