{{ define "main" }}
<!-- If available, use first bundle's image -->
{{ $original_image := .Page.Resources.GetMatch "**.jpg" }}
<div class="row">
  <div class="three columns">
    &nbsp;
  </div><!-- three columns -->
  <div class="six columns post-body">
    <h1 class="post-title">{{ .Title }}</h1>
    <small class="post-publish-date text-muted">
      opublikowane {{ .Date.Format "2006-01-02" }}
      {{ if not (eq .Lastmod .Date) -}}
      , ostatnia aktualizacja {{ .Lastmod.Format "2006-01-02" }}
      {{ end }}
    </small>

    <!-- If available, use page's image -->
    {{ with $original_image }}
    {{ $image := .Fill "880x200" }}
    <figure class="head-image">
      <img
        src="{{ $image.RelPermalink }}"
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
        alt="{{ with $image.Exif -}}
          {{ .Tags.UserComment }}
        {{- else -}}
          Ilustracja do wpisu.
        {{- end }}"
        />
    </figure>
    {{ end }}

    {{ .Content }}

  </div><!-- six columns -->
</div><!-- row -->

<!-- https://developers.google.com/search/docs/guides/ -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "headline": "{{ .Title }}",
  {{ if .Params.image }}
  "image": [
    "{{ .Site.BaseURL }}{{ .Params.image }}"
  ],
  {{ else if $original_image }}
  "image": [
    {{- range $index, $img := .Page.Resources.ByType "image" -}}
    {{- if $index -}}
      ,
    {{- end }}
    "{{- $img.Permalink }}"
    {{- end }}
  ],
  {{ else }}
  "image": [
    "{{ .Site.BaseURL }}{{ .Site.Params.SiteLogo }}"
  ],
  {{ end }}
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.AuthorName }}"
  },
  "publisher": {
    /* The publisher should be a Person here, but the Google validator doesn't
    accept this value. */
    "@type": "Organization",
    "name": "Automaciej",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}{{ .Site.Params.SiteLogo }}"
    }
  },
  "description": "{{ with .Description }}{{ . | plainify | safeJS }}{{ else }}Wpis na blogu Automacieja{{ end }}",
  "articleBody": "{{ .Plain | safeJS }}",
  "wordCount": "{{ .WordCount }}",
  "inLanguage": {
    "@type": "Language",
    "name": "Polish",
    "alternateName": "pl"
  }
}
</script>

{{ end }}
