<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Automaciej</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navigation-menu-main"
          aria-controls="navigation-menu-main"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navigation-menu-main">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/about/">O stronie</a></li>
      <li class="nav-item dropdown">
        <a href="#"
           class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">Kategorie <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {{ range $name, $taxonomy := .Site.Taxonomies.tags -}}
          <li class="nav-item"><a class="nav-link"
              href="{{ "/tags/" | relURL }}{{ $name | urlize }}">{{ $name -}}
            &nbsp;({{ $taxonomy.Count }})</a></li>
            {{ end }}
          </ul>
        </li><!-- dropdown-menu -->

      {{ if not .IsNode }}{{/* Node, (e.g. index.html) doesn't have Prev or Next) */}}
      {{ if .Prev }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .Prev.Permalink }}" title="{{ .Prev.Title }}">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </li>
      {{ else }}
      <li class="navbar-text nav-item">
        <span class="automaciej-text-muted glyphicon glyphicon-chevron-left"></span>
      </li>
      {{ end }}

      {{ if .Next }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .Next.Permalink }}" title="{{ .Next.Title }}">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </li>
      {{ end }}
      {{ end }}


      </ul><!-- navbar-nav -->
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/automaciej">Twitter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://plus.google.com/+MaciejBlizi%C5%84ski">Google+</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://automatthias.wordpress.com/">Blog angielski</a>
        </li>
      </ul><!-- navbar-right -->
    </div><!-- /.navbar-collapse -->
</nav>
