{{ define "main" }}
<!-- If available, use first bundle's image -->
{{ $original_image := .Page.Resources.GetMatch "**.jpg" }}
<div class="post-title">
  <div class="container">

    <div class="row">
      <div class="{{ if $original_image }}twelve{{ else }}twelve{{ end }} columns">

        <h1>{{ .Title }}</h1>
        <p>
          {{ .Description }}
        </p>

      </div><!-- /columns -->
    </div><!-- /row -->
  </div><!--- /container -->
</div><!-- post-title -->

<div class="container">
  <div class="row">
    <div class="twelve columns">
      <!-- If available, use page's image -->
      {{ with $original_image }}
      {{ $image := .Fit "880x880" }}
      <figure class="head-image">
        <img
          src="{{ $image.RelPermalink }}"
          width="{{ $image.Width }}"
          height="{{ $image.Height }}"
          />
      </figure>
      {{ end }}

      {{ .Content }}
    </div><!-- /columns -->
  </div><!-- /row -->
</div><!-- /container -->

<!-- https://developers.google.com/search/docs/guides/ -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "headline": "{{ .Title }}",
  {{ if .Params.image }}
  "image": [
    "{{ .Site.BaseURL }}{{ .Params.image }}"
  ],
  {{ else if $original_image }}
  "image": [
    {{- range $index, $img := .Page.Resources.ByType "image" -}}
    {{- if $index -}}
      ,
    {{- end }}
    "{{- $img.Permalink }}"
    {{- end }}
  ],
  {{ else }}
  "image": [
    "{{ .Site.BaseURL }}/images/automaciej-logo.jpg"
  ],
  {{ end }}
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
  "author": {
    "@type": "Person",
    "name": "Maciej Bliziński"
  },
  "publisher": {
    /* The publisher should be a Person here, but the Google validator doesn't
    accept this value. */
    "@type": "Organization",
    "name": "Automaciej",
    "logo": {
      "@type": "ImageObject",
      "url": "http://blizin.ski/images/automaciej-logo.jpg"
    }
  },
  "description": "{{ with .Description }}{{ . }}{{ else }}Wpis na blogu Automacieja{{ end }}"
}
</script>

{{ end }}
