{{ define "main" }}
<div class="site-title">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>{{ .Site.Title }} &ndash; strona domowa</h1>
      </div><!-- /columns -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /site-title -->

<div class="container">

  {{ range (.Site.RegularPages.GroupByDate "2006") }}
  <div class="row">
    <div class="two columns">
      <h3>{{ .Key }}</h3>
    </div>

    <div class="ten columns">
      <ul class="posts-list">
      {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}" title="{{ .Description }}">
            <tt>{{ .Date.Format "2006-01-02" }}</tt>
            {{ if .Draft }}<span class="debug-info">[draft]&nbsp;</span>{{ end -}}
            {{ .Title -}}
            &nbsp;»
          </a>
        </li>
      {{ end }}
      </ul>
    </div><!-- twelve colums -->
  </div><!-- /row -->
  {{ end }}

</div><!-- /container -->

{{ end }}
