/* Customizations to the Pico theme. */

/*
 * Color palette
 */

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #33548a;
}

/* Center the header */
header > nav > div {
	margin-left: auto;
	margin-right: auto;
	/* text-align: center; */
}

nav .site-title {
  font-size: 2em;
  font-weight: bold;
  /* color: white; */
}

nav .site-description {
  font-size: 80%;
}

main .bio {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.iframe-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

main.bio .published-date {
	font-style: italic;
	font-size: 80%;
}

.portrait {
  /* https://www.w3schools.com/howto/howto_css_image_center.asp */
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 800px;
}

#TableOfContents ul {
	/* position: fixed; */
	/* top: 0; */
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#TableOfContents li {
	float: left;
	border-right: 1px solid black;
}

#TableOfContents li:last-child {
	/*
	border-right: none;
	*/
}

#TableOfContents li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	padding: 8px;
	text-decoration: none;
	font-size: 80%;
}

#TableOfContents li a:hover {
	background-color: #111;
}

/* This prevents the menu from scrolling too far down. */
h1, h2, h3, h4 {
	scroll-margin-top: 2em;
}
