/* Global font size setting */
html {
  font-size: 0.8em;
}

ul.posts-list {
  list-style: none;
}
ul.posts-list > li {
  margin: 0;
}

ul.posts-list a {
  text-decoration: none;
  color: black;
}

ul.posts-list a:hover {
  text-decoration: underline;
}

/* This is necessary with list-style: inside which is defined in skeleton.css.
 * Otherwise the paragraph is displayed below the list item number. The
 * alternative could be to delete the list-style: inside; from skeleton.css.
 */
ol p, ul p {
  display: inline;
}

.text-muted {
  color: #AAA;
}

.site-title, .post-title {
  background-image: url('/images/ireland-landscape.jpg');
  background-size: cover;
  background-position: center;
  background-color: #33548a;  /* Matches the image */
  padding-top: 4%;
  padding-bottom: 4%;
  margin-bottom: 2%;
  color: white;
}

.post-title h1 {
  font-weight: bold;
  text-shadow: 2px 2px #33548a;
  margin-bottom: 0;
  padding-bottom: 0;
}
.post-title p {
  text-shadow: 1px 1px #33548a;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.post-title a {
  color: white;
}

div.footer {
  background-color: #F4F4F4;
}
div.footer > div.container {
  padding-top: 1.5em;
}

figure {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
}

figure.head-image img, .columns figure img {
  border: 1px solid #488;
  /* Responsive image width; maintain aspect. */
  max-width: 100%;
  height: auto;
}

td.highlighted {
  font-weight: bold;
  background: #EFE;
}
