<footer>
  <div class="container">
    &copy;2001-2021 {{ .Site.Author.name }}
    <div class="site-links">
      [
      <a href="/about">o stronie</a>
      |
      <a href="https://twitter.com/{{ .Site.Params.twitterHandle }}">Twitter</a>
      |
      <a href="https://github.com/{{ .Site.Params.githubName }}">Github</a>
      |
      <a href="https://facebook.com/{{ .Site.Params.facebookUrlPath }}">Facebook</a>
      |
      <a href="https://www.instagram.com/{{ .Site.Params.instagramHandle }}">Instagram</a>
      |
      <a href="https://www.tiktok.com/@{{ .Site.Params.tiktokName }}">TikTok</a>
      ]
    </div>
  </div>
</footer>
