<html>
  <head>
    {{ partial "head-section.html" }}
    <link rel="alternate"
          type="application/rss+xml"
          title="{{ .Title }} ‒ {{ .Site.Title }}"
          href="{{ .RSSLink }}" />
    
  </head>
  <body>
    {{ partial "navbar.html" . }}
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12">

          {{ $paginator := .Paginate .Data.Pages }}

        <section id="main">
          <div>
           <h1 id="title">{{ .Title }}</h1>
            {{ range $paginator.Pages }}
                {{ .Render "summary"}}
            {{ end }}
          </div>
        </section>

        {{ template "_internal/pagination.html" . }}

        </div><!-- col-md-8 col-xs-12 -->
        <div class="col-md-4 col-xs-12">
          {{ partial "all-tags.html" . }}
        </div><!-- col-md-4 -->
      </div><!-- row -->
    </div><!-- container -->
    {{ partial "footer.html" }}

  </body>
</html>
