<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    {{ $paginator := .Paginate .Data.Pages }}
    {{ partial "head-section.html" . }}
    <meta property="og:description"        content="{{ .Title }}" />
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="alternate"
          type="application/rss+xml"
          title="{{ .Title }} ‒ {{ .Site.Title }}"
          href="{{ .RSSLink }}" />
    <link rel="canonical" href="{{ .Permalink }}{{ $paginator.URL }}" />
    {{ if $paginator.HasPrev }}<link rel="prev" href="{{ $paginator.Prev.URL }}" />{{ end }}
    {{ if $paginator.HasNext }}<link rel="next" href="{{ $paginator.Next.URL }}" />{{ end }}
    <title>
      {{ .Title -}}
      {{- if ne $paginator.PageNumber 1 }} (strona {{ $paginator.PageNumber }})
      {{ end }}
      &mdash; {{ .Site.Title }}
    </title>
  </head>
  <body>
    {{ partial "navbar.html" . }}
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <div>
            <h1 id="title">{{ .Title }}</h1>
              {{ range $paginator.Pages }}
                {{ .Render "summary"}}
              {{ end }}
          </div>
          {{ template "_internal/pagination.html" . }}
        </div><!-- col-md-8 col-xs-12 -->
        <div class="col-md-4 col-xs-12">
          {{ partial "all-tags.html" . }}
        </div><!-- col-md-4 -->
      </div><!-- row -->
    </div><!-- container -->
    {{ partial "footer.html" }}
  </body>
</html>
