<html>
  <head>
    {{ partial "head-section.html" }}
  </head>
  <body>
    {{ partial "navbar.html" . }}
    <div class="container">
      <div class="row">
        <div class="col-md-8">
      <section id="main">
        <div>
         <h1 id="title">{{ .Title }}</h1>
          {{ range .Data.Pages }}
              {{ .Render "summary"}}
          {{ end }}
        </div>
      </section>
      {{ partial "footer.html" }}
        </div><!-- col-md-4 -->
        <div><!-- col-md-4 -->
          {{ partial "all-tags.html" . }}
        </div><!-- col-md-4 -->
      </div><!-- row -->
    </div><!-- container -->
  </body>
</html>
