<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    {{ partial "head-section.html" . }}
    <title>{{ .Title }} &mdash; Automaciej</title>
    {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
  </head>
  <body>
    {{ partial "navbar.html" . }}

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
	        <main role="main">
            <article itemscope itemtype="http://schema.org/BlogPosting">
              <h1 class="entry-title"><span itemprop="name">{{ .Title }}</span>
                <span class="entry-meta content-subhead small">
                  </span>
              </h1>
              <section itemprop="articleBody">
                {{ .Content }}
              </section>
            </article>
          </main>
        </div><!-- col-md-9 -->
      </div><!-- row -->
      <div class="row">
        <div class="col-md-6 col-sm-12">
          {{ partial "footer.html" . }}
          <footer class="footer">
            <small class="text-muted">
              opublikowane:
              <time itemprop="datePublished"
                datetime="{{ .Date.Format "2006-01-02" }}"
                >{{ .Date.Format "January 02, 2006" }}</time>
              <br />
              {{ partial "item-tags.html" . }}
            </small>
          </footer>
        </div><!-- col-md-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </body>
</html>
