<div class="card my-lg-3 my-sm-1">
  <div class="card-body">
    <h2 class="card-title">
      {{- .Title }}{{ if .Draft }} #Draft{{ end -}}
    </h2>
    <div class="post-meta card-subtitle">
      <!-- <div class="post-meta text-muted card-subtitle"> -->
      <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Date.Format "2006-02-01" }}</a>
      &ndash;
      {{ .FuzzyWordCount }} słów
      &ndash;
      {{ partial "item-tags.html" . }}
    </div>
    <div class="card-text">
      {{ .Summary }}
    </div>
    {{ if .Truncated }}
      <a href="{{ .Permalink }}"
         title="{{ .Title }}"
         class="card-link">czytaj&nbsp;dalej &raquo;</a>
    {{ end }}
  </div><!-- card-body -->
</div><!-- card-->
