/* layouts/_default/single.html */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.automaciej-text-muted {
  color: #CCC;
}

/* layouts/_default/list.html */
ul.archiwum {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.archiwum li {
  padding: 0;
  margin: 0;
}

figure > img, figure > a > img {
  display: block;
  max-width: 100%;
  max-height: 400px;
  height: auto;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #EEE;
}

/* Pracowałem nad którąś tam tabelką. */
table tr th {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-bottom: 2px solid #AAA;
}

table td {
  padding-left: 3px;
  padding-right: 3px;
}

table, th, td {
  border: 1px solid #EEE;
}

table {
  border-collapse: collapse;
}
