<html lang="en" data-theme="dark">
	<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/pico.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bio.css">
<title>{{ .Title }}</title>
<meta name="description" content="{{.Description}}" />
<meta name="author" content="Maciej Bliziński" />
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/favicon.png" />
<!-- Facebook (OpenGraph?) meta tags -->
<meta property="og:url"                content="{{ .Permalink }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ .Title }}" />
<meta property="og:description"        content="{{ .Description }}" />
<link rel="canonical" href="{{ .Permalink }}" />

	</head>
	<body>
		<main class="container bio">
			<div class="content">
			{{ .Content }}
			</div>
			<hr/>
			<p class="published-date">
				first published on
				<a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }}</a>
				{{- if not (eq .Lastmod .Date) -}}
				, last update {{ .Lastmod.Format "2006-01-02" }}
				{{ end }}
			</p>
		</main>
	</body>
</html>
