<div class="event">

<p>

<small>
	{{ if .start_time }}

	{{ if and (gt .start_time now) .url }}
		<a href="{{ .url }}">
	{{ end }}
		{{ time.Format "Monday, Jan 2, 2006, 3:04PM" .start_time -}}
	{{ if and (gt .start_time now) .url }}
		</a>
	{{ end }}
	{{ if and (gt .start_time now) .tickets }}
	<a href="{{ .tickets }}">
		[ 🎫 tickets ]
	</a>
	{{ end }}

	{{ else }}
	Date not known
	{{ end }}
</small>
<br/>

{{ if gt .start_time now }} ❇️ {{ else }} ✔️ {{ end }}
<strong>{{ .name }}</strong>
{{ if .instrument -}}
&ndash;
{{ if gt .start_time now }} will play {{ else }} played {{ end }}
{{ .instrument }}
{{- end }}
{{ if .with }}
with {{ delimit .with ", " " and " -}}
{{ end -}}
{{- if .venue }}
in
{{ if .venue_url -}}
<a href="{{ .venue_url }}">
{{- end }}
{{ .venue -}}
{{ if .venue_url -}}
</a>
{{- end -}}
{{- if .venue_address -}}
, {{ .venue_address }} (<a href="https://www.google.com/maps/search/{{ .venue }},%20{{ .venue_address }}">map</a>)
{{- end -}}
{{- end -}}
.

{{ .description }}

</p>

</div><!-- event -->
