<!-- These three must come first in the head section. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<!-- Bootstrap -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
     WARNING: Respond.js doesn't work if you view the page via file:// -->
{{ `<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif] -->` | safeHTML }}
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/automaciej.css" rel="stylesheet" />

<!-- Facebook (OpenGraph?) meta tags -->
<meta property="og:url"                content="{{ .Permalink }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ .Title }}" />
{{ with .Description -}}
<meta property="og:description"        content="{{ . }}" />
{{- end }}
{{ if .Params.image -}}
<meta property="og:image"              content="{{ .Site.BaseURL }}{{ .Params.image }}" />
{{- end }}
<link rel="canonical" href="{{ .Permalink }}" />
