<!DOCTYPE html>
<html lang="pl">
  <head>
    {{ partial "head-section.html" . }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="alternate" type="application/rss+xml" title="Automaciej" href="http://maciej.blizinski.pl/index.xml" />
    <title>{{ .Title }} &mdash; Automaciej</title>
  </head>
  <body>
    {{ partial "navbar.html" }}

    <div class="container">
      <div class="row">
        <div class="col-md-8">

{{ $paginator := .Paginate .Data.Pages }}

{{ range $paginator.Pages }}
		<article itemscope itemtype="http://schema.org/Blog">
			<h2 class="entry-title" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</a>
        <span class="entry-meta content-subhead small"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</time></span>
      </h2>
      {{ .Content }}
    </article>
{{ end }}

{{ template "_internal/pagination.html" . }}

        </div><!-- col-md-8 -->
        <div><!-- col-md-4 -->
          <p class="text-muted text-justify">
          &mdash; Słuchaj, myj zęby, bo dwa razy dwa równa się pięć.
          <br />
          &mdash; Yyyy… ale dwa razy dwa nie równa się pięć…
          <br />
          &mdash; No wiesz! Dlaczego nie chcesz myć zębów?!
          </p>
          {{ partial "all-tags.html" . }}
        </div><!-- col-md-4 -->
      </div><!-- row -->
      <div class="row">
        {{ partial "footer.html" }}
      </div>
    </div><!-- container -->
  </body>
</html>
