<div class="footer">
  <div class="container">
    <div class="row">
      <div class="twelve columns">

        <!--
        <span class="text-muted">
        {{ with .Params.tags }}
        kategorie:
        {{ range . }}
          <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
        {{ end }}
        </span>
        -->

        <p class="text-muted">
        <a href="/" class="text-muted" title="Strona główna">Automaciej</a>
        &mdash;
        <a href="/about/" class="text-muted" title="Automaciej: O stronie">o stronie</a>
        </p>
      </div><!-- /columns -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /footer -->
