<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    {{ partial "head-section.html" . }}
    <meta property="og:description"        content="{{ .Title }}" />
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="alternate"
          type="application/rss+xml"
          title="{{ .Title }} ‒ {{ .Site.Title }}"
          href="{{ .RSSLink }}" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <title>
      {{ .Title }} &mdash; {{ .Site.Title }}
    </title>
  </head>
  <body>
    {{ partial "navbar.html" . }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <div>
            <h1 id="title">{{ .Title }} &mdash; {{ .Site.Title }}</h1>
            {{ range .Data.Pages }}
            <ul class="archiwum">
              <li>
                <a href="{{ .RelPermalink }}">
                  {{ dateFormat "2006-02-01" .Date }}
                  &nbsp;
                  {{ .Title }}
                </a>
                <span class="text-muted small">
                </span>
              </li>
            </ul>
            {{ end }}
          </div>
        </div><!-- col-md-8 col-xs-12 -->
      </div><!-- row -->
    </div><!-- container -->
    {{ partial "footer.html" }}
  </body>
</html>
