<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@{{ .Get "user" }}/video/{{ .Get "id" }}" data-video-id="{{ .Get "id" }}" style="max-width: 605px;min-width: 325px;" >
  <section>
    <a target="_blank" title="@{{ .Get "user " }}" href="https://www.tiktok.com/@{{ .Get "user" }}">@{{ .Get "user" }}</a>
    <!-- <a target="_blank" title="♬ original sound" href="https://www.tiktok.com/music/original-sound-{{ .Get "sound-id" }}">♬ original sound</a> -->
  </section>
</blockquote>
<script async src="https://www.tiktok.com/embed.js"></script>
